/* SPDX-FileCopyrightText: Copyright 2023 Fabio Iotti */
/* SPDX-License-Identifier: AGPL-3.0-only */

.video-drop {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, .6);

  opacity: 0;
  transition: opacity 200ms ease;

  pointer-events: none;
}

.video-drop-active {
  opacity: 1;

  pointer-events: unset;
}

.error {
  position: absolute;
  inset: 0;
}
