/* SPDX-FileCopyrightText: Copyright 2026 Fabio Iotti */
/* SPDX-License-Identifier: AGPL-3.0-only */

.track-selector {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: min(100vw, 500px);
    box-sizing: border-box;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    white-space: pre-wrap;
}

.file-input {
    display: none;
}

.open-button {
    background: rgba(0, 0, 0, .6);
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-align: center;
    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    transition: background-color 150ms ease;
}

.open-button:hover {
    background: rgba(0, 0, 0, .8);
}
