/* SPDX-FileCopyrightText: Copyright 2023, 2026 Fabio Iotti */
/* SPDX-License-Identifier: AGPL-3.0-only */

.bar-container {
  --bar-handle-size: .8em;
  --bar-color: #fff;

  padding: 0 calc(var(--bar-handle-size) / 2);
  box-sizing: border-box; /* in case a width is set */
}
.bar {
  position: relative;

  display: flex;
  height: 1.4em;
  opacity: .9;
  cursor: pointer;

  &:after {
    content: '';
    flex-grow: 1;
    background: var(--bar-color);
    opacity: .3;
    margin: .5em calc(var(--bar-handle-size) / -2) 0 0;
    border-radius: 1em;
    height: .4em;
  }
}

.filled {
  background: var(--bar-color);
  position: relative;
  opacity: 1;
  margin: .5em 0 0 calc(var(--bar-handle-size) / -2);
  padding: 0 calc(var(--bar-handle-size) / 2) 0 0;
  border-radius: 1em;
  height: .4em;
}

.handle {
  position: absolute;
  right: calc(var(--bar-handle-size) / -2);
  top: -.2em;
  width: .8em;
  height: .8em;
  border-radius: 1em;
  background: var(--bar-color);
}

.hint {
  position: absolute;
  bottom: 120%;
  transform: translateX(-50%);
  opacity: 1;
  transition: 200ms ease opacity;
  background: rgba(0, 0, 0, .8);
  padding: .2em .5em;
  border-radius: .3em;
  font-size: .9em;
  font-family: sans-serif;
  font-variant-numeric: tabular-nums;
  color: white;
  pointer-events: none;
  white-space: nowrap;
}
.hint-hide {
  opacity: 0;
}
