/* SPDX-FileCopyrightText: Copyright 2023 Fabio Iotti */
/* SPDX-License-Identifier: AGPL-3.0-only */

.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.container-no-cursor {
  cursor: none;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.audio {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;

  pointer-events: none;
}
