/* SPDX-FileCopyrightText: Copyright 2026 Fabio Iotti */
/* SPDX-License-Identifier: AGPL-3.0-only */

.volume-bar {
  width: 6em;
}

.mute-button {
  border: 0;
  padding: 0;
  line-height: 1;
  background: none;
  color: inherit;
  cursor: pointer;

  margin-right: .6em;
}
