/* SPDX-FileCopyrightText: Copyright 2023 Fabio Iotti */
/* SPDX-License-Identifier: AGPL-3.0-only */

html, body, #app {
  margin: 0;

  width: 100vw;
  height: 100vh;
}

body {
  background: black;
  color: white;

  font-family: sans-serif;
}
