/* SPDX-FileCopyrightText: Copyright 2023-2024, 2026 Fabio Iotti */
/* SPDX-License-Identifier: AGPL-3.0-only */

.button {
  border: 0;
  padding: 0;
  line-height: 1;
  background: none;
  color: inherit;
  /*opacity: .5;*/
  transition: 200ms ease opacity;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: .9;
  }
}
