/* SPDX-FileCopyrightText: Copyright 2026 Fabio Iotti */
/* SPDX-License-Identifier: AGPL-3.0-only */

.seekbar {
    flex-grow: 1;
}

.hint-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hint-time {
    display: block;
}
