

.seekbar {
  position: relative;

  display: flex;
  height: 1.4em;
  opacity: .9;
  cursor: pointer;

  flex-grow: 1;

  .played,
  &:after {
    margin-top: .5em;
    border-radius: 1em;
    height: .4em;
  }

  &:after {
    content: '';
    flex-grow: 1;
    background: #fff;
    opacity: .3;
  }
}

.played {
  background: #fff;
  position: relative;
  opacity: 1;
}

.handle {
  position: absolute;
  right: -.4em;
  top: -.2em;
  width: .8em;
  height: .8em;
  border-radius: 1em;
  background: white;
}

.hint {
  position: absolute;
  bottom: 120%;

  transform: translateX(-50%);

  opacity: 1;
  transition: opacity 200ms ease;
}
.hint-hide {
  opacity: 0;
}
