/* SPDX-FileCopyrightText: Copyright 2023 Fabio Iotti */
/* SPDX-License-Identifier: AGPL-3.0-only */

.message {
  position: absolute;
  margin: auto;
  width: 50%;
  inset: 0;
  height: 30%;
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.6);
  padding: 2em;
  box-sizing: border-box;
  color: white;

  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  border-radius: 0.3em;
  width: 1.8em;
  height: 1.8em;
  font-size: 1.2em;
  border: 0;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  color: inherit;
  transition: background-color 150ms ease;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }

  &:after {
    content: '×';
  }
}
